<a href="/home" class="drawer-item"><i class="fas fa-home"></i><span>Início</span></a>
<a href="/booking" class="drawer-item"><i class="fas fa-calendar-plus"></i><span>Agendar</span></a>
<a href="/appointments" class="drawer-item"><i class="fas fa-history"></i><span>Meus Agendamentos</span></a>
<a href="/profile" class="drawer-item"><i class="fas fa-user-circle"></i><span>Meu Perfil</span></a>
<a href="/reviews" class="drawer-item"><i class="fas fa-star"></i><span>Avaliações</span></a>
<a href="/gallery" class="drawer-item"><i class="fas fa-images"></i><span>Galeria</span></a>