/*--Icon sun--*/
.sun img{
    cursor: pointer;
    width: 48px;
}

/*--Body modo--*/
.bodyblack{
    background-color: #18191C;
}

/*--foto barber--*/
.barberBalck{
    width: 100%;
    height: 700px;
    margin: 80px 0px;
    background-color: #282828;
    display: flex;
    padding: 40px;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
}

.barberBalck .foto-alison{
    width: 500px;
    height: 500px;
    margin: 40px 0px;
    background-image: url(/Front-Barbearia-home/img/alissonFt.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
}

.img-ft{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: #0000006a;
}

.barberBalck h3{
    width: 600px;
    height: 500px;
    font-size: 150px;
    margin: 90px 0px;
    font-family: "Secular One", sans-serifs;
    color: #CBCBCB;
}
/*--Aside tag "p"--*/
.asideBlack p {
    color: white;
}

/*--Cards black--*/
.CardBalck{
    width: 1400px;
    margin:60px auto;
    display: flex;
    height: 500px;
    border-radius: 20px;
    background-color: #282828;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
}

.card, .cardTextBlack{
    height: 400px;
    width: 270px;
    margin: 10px 10px;
    background-color: #090A0C;
    border-radius: 20px;
}

.card-img, .card-img img{
    width: 240px;
    margin: 10px auto;
    border-radius: 20px;
    object-fit: cover;
}

.card .paragrafo, .info{
    color: white;
    width: 240px;
    text-align: left    ;
    margin: 10px  auto auto 25px;
}

.paragrafo p {
    font-size: 15px;
    font-family: "Poppins",sans-serif;
}

.info{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    font-size: 20px;
    justify-content: space-around;
    width: 200px;
}

.cardTextBlack{
    background-color: #00000000;
}

.cardTextBlack h2{
    color: #f4f4f4;
    font-family: "Poppins",sans-serif;
    font-weight: bold;
    margin: 20px;
    text-align: left;
    font-size: 50px;
    line-height: 80px;
}

.cardTextBlack a{
    background-color: #0D7CA4;
    margin: 20px;
    padding: 15px 35px;
    border-radius: 10px 10px ;
}


/*--Animações--*/
.cardTextBlack a:hover{
  border-radius: 20px 10px;
  transition: .2s;
}